
        
            
            .container {
             display: flex;  
                justify-content: space-between;
                align-items: center;
                border: 2px solid black;
                padding: 10px;
                margin: 10px 0;
            }
            .item {
                flex: 1; /* Each item will take equal space */
                border: 2px solid #333;
                padding: 20px;
                margin: 10px;
                text-align: center;
            }
            
        
